<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="kuaiboyingshiEntities" connectionString="metadata=res://*/Data.csdl|res://*/Data.ssdl|res://*/Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=kuaiboyingshi.db.9223191.hostedresource.com;Persist Security Info=True;User ID=kuaiboyingshi;Password=Kuibono@442735;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>