<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DataEntities" connectionString="metadata=res://*/Data.NovelData.csdl|res://*/Data.NovelData.ssdl|res://*/Data.NovelData.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=100.42.216.237;Initial Catalog=KCMS2;Persist Security Info=True;User ID=sa;Password=tgVgVbyDPH5r;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>